<h1>dragonball-page works!</h1>
<hr />

<section>
  <div class="col-12 col-sm-6">
    <h3>Agregar: {{ name() }}</h3>
    <input
      type="text"
      class="form-control mt-2"
      placeholder="Nombre"
      [value]="name()"
      (input)="name.set(txtName.value)"
      #txtName
    />
    <h3>{{ power() }}</h3>
    <input
      type="number"
      class="form-control mt-2"
      placeholder="Poder"
      [value]="power()"
      (input)="power.set(+txtPower.value)"
      #txtPower
    />
    <button (click)="addCharacter()" class="btn btn-primary">Agregar</button>
  </div>

  <div class="col-12 col-sm-6">
    <dragonball-character-list
      listName="Listado de personajes"
      [characters]="characters()"
    />
  </div>
</section>
