<h3>{{ listName() }}</h3>
<ol>
  @for(character of characters(); track character.id; let i = $index){
  @if(character.power > 500){
  <li>
    <span>{{ i + 1 }} - {{ character.name }}</span>
    <strong
      [class.text-danger]="character.power >= 9000"
      [class.text-primary]="character.power < 9000"
      >({{ character.power }})</strong
    >
    <!-- <strong [ngClass]="powerClasses()"> ({{ character.power }})</strong> -->
    <button class="btn btn-danger">Eliminar</button>
  </li>
  }@else {
  <li><strong>Nada</strong></li>
  }}
</ol>
